<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="coffee">Coffee</label>
                    <input
                        type="text"
                        id="coffee"
                        class= "form-control"
                        #coffeeInput>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="type">Type</label>
                    <input
                        type="text"
                        id="type"
                        class= "form-control"
                        #typeInput>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="size">Size</label>
                    <input
                        type="text"
                        id="size"
                        class= "form-control"
                        #sizeInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">amount</label>
                    <input
                        type="number"
                        id="amount"
                        class="form-control"
                        #amountInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="price">price</label>
                    <input
                        type="number"
                        id="price"
                        class="form-control"
                        #priceInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="total">total</label>
                    <input
                        type="number"
                        id="total"
                        class="form-control"
                        #totalInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="addOrder(coffeeInput, typeInput, sizeInput, amountInput, priceInput, totalInput)">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
