<header>
   <h2>About Us</h2>
</header>
<body>
   <div class="container">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
        <div class="us">
         <p id="about"><strong>Brewbean</strong> is a online coffee shop serving you a great variety of excellent coffee!! 
            Take a moment to browse our coffee selections and experience some awsome goodness once you place an order!</p>
        </div>
      </div>
   </div>
</body>