<div class="row">
    <div class="col-xs-10">
        <!-- <app-order-list-edit (orderCreated)="addedOrder($event)"></app-order-list-edit> -->
        <app-order-list-edit></app-order-list-edit>
        <hr>
        <h1>Cart</h1>
        <ul class="list-group">
            <a 
                class="list-group-item"
                style="cursor: pointer"
                *ngFor="let order of orders"
            >
                {{ 'coffee: ' + order.coffee +'  ' }} {{ 'amount: ' + order.amount + '  ' }} 
                 {{ 'price: ' + order.price.toFixed(2) + '  '}} {{ 'total cost: ' + order.total.toFixed(2) + '  ' }}
            </a>
        </ul>
    </div>
</div>