<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <h1>Welcome {{ user.firstname }} {{ user.lastname }}</h1>
            <h2>Order Form</h2>
            <hr>
            
          <div
            class="form-group"
            id="user-data"
            >
            <hr>
            <section id="coffeeSection">
                <div id="coffee" class="form-group">
                    <label for="coffee">coffee - $4.75:</label>
                    <select
                        id="coffee"
                        class="form-control"
                        ngModel
                        required
                        name="coffee"
                        #coffee="ngModel">
                        <option value="Blonde Roast">Blonde Roast</option>
                        <option value="Caffe Misto">Caffe Misto</option>
                        <option value="Dark Roast">Dark Roast</option>
                        <option value="Dark Roast Decaf">Dark Roast Decaf</option>
                        <option value="Columbia">Columbia</option>
                        <option value="Breakfast Blend">Breakfast Blend</option>
                        <option value="breakfast Blend Decaf">Breakfast Blend Decaf</option>
                        <option value="Premium">Premium</option>
                        </select>  
                        <span class="help-block" *ngIf="!coffee.valid && coffee.touched">Please Select A Coffee!</span>            
                </div>
                <hr>
                <div id= "quantity" class="form-group">
                    <label for="quantity">Quantity</label>
                    <input
                    type="number"
                    id="quantity"
                    class="form-control"
                    required
                    pattern="^[1-9]+[0-9]*$"
                    ngModel
                    name="quantity"
                    #quantity="ngModel">
                    <span class="help-block" *ngIf="!quantity.valid && quantity.touched">Please enter a quantity!</span>
                </div>
            </section>
            <hr>
            <section id="addOnSection">
                <div id="creamers" class="form-group">
                    <label for="creamers">Creamers:</label>
                    <select
                        id="creamers"
                        class="form-control"
                        ngModel
                        required
                        name="creamer"
                        #creamers="ngModel">
                        <option value="none">No Creamer</option>
                        <option value="nonfatLight">Nonfat Milk (Light Splash)</option>
                        <option value="nonfat">Nonfat Milk (Splash)</option>
                        <option value="nonfatExtra">Nonfat Milk (Extra Splash)</option>
                        <option value="2%Light">2% Milk (Light Splash)</option>
                        <option value="2%">2% Milk (Splash)</option>
                        <option value="2%Extra">2% Milk (Extra Splash)</option>
                        <option value="wholeLight">Whole Milk (Light Splash)</option>
                        <option value="whole">Whole Milk (Splash)</option>
                        <option value="wholeExtra">Whole Milk (Extra Splash)</option>
                        <option value="halfLight">Half & Half (Light Splash)</option>
                        <option value="half">Half & Half (Splash)</option>
                        <option value="halfExtra">Half & Half (Extra Splash)</option>
                        <option value="sweetLight">Sweet Cream (Light Splash)</option>
                        <option value="sweet">Sweet Cream (Splash)</option>
                        <option value="sweetExtra">Sweet Cream (Extra Splash)</option>
                        <option value="frenchLight">French Vanilla (Light Splash)</option>
                        <option value="french">French Vanilla (Splash)</option>
                        <option value="frenchExtra">French Vanilla (Extra Splash)</option>
                    </select>
                    <span class="help-block" *ngIf="!creamers.valid && creamers.touched">Please Select A Creamer!</span>               
                </div>
                <hr>
                <div class="form-group">
                    <label for="toppings">Toppings:</label>
                    <select
                        id="toppings"
                        class="form-control"
                        ngModel
                        required
                        name="topping"
                        #toppings="ngModel">
                        <option value="none">No Topping</option>
                        <option value="caramel">Caramel Drizzle</option>
                        <option value="mocha">Mocha Drizzle</option>
                        <option value="whipped">Whipped Cream</option>
                    </select>
                    <span class="help-block" *ngIf="!toppings.valid && toppings.touched">Please Select A Topping!</span>               
                </div>
            </section>
            <hr>
            <section id="syrupSection">
                <div class="form-group">
                    <label for="syrups">Syrups:</label>
                    <select
                        id="syrups"
                        class="form-control"
                        ngModel
                        required
                        name="syrup"
                        #syrups="ngModel">
                        <option value="none">No Syrup</option>
                        <option value="caramel">Caramel Syrup</option>
                        <option value="brown">Brown Sugar Syrup</option>
                        <option value="hazel">Hazelnut Syrup</option>
                        <option value="irish">Irish Cream Syrup</option>
                        <option value="peppermint">Peppermint Syrup</option>
                    </select>
                    <span class="help-block" *ngIf="!syrups.valid && syrups.touched">Please Select A Syrup!</span>               
                </div>
            </section>
                <hr>
            <section id="sweetSection">
                <div class="form-group">
                    <label for="sweeteners">Sweeteners:</label>
                    <select
                        id="sweeteners"
                        class="form-control"
                        ngModel
                        required
                        name="sweetener"
                        #sweeteners="ngModel">
                        <option value="none">No Sweetener</option>
                        <option value="sugar">Sugar</option>
                        <option value="stevia">Stevia</option>
                    </select> 
                    <span class="help-block" *ngIf="!sweeteners.valid && sweeteners.touched">Please Select A Sweetener!</span>              
                </div>
            </section>
          </div>
          <hr>
          <div class="form-group">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!f.valid">Submit Order
            </button> 
          </div>
          <div class="form-group">
            <button
              class="btn btn-primary"
              type="button"
              (click)="onViewOrder()"
              [disabled]="!viewOrder">View Order
            </button> 
          </div>
          </form>
          <div class="row">
            <div class="col-xs-12">
              <h3 *ngIf="submitted">Thank you for Order!!</h3>
              <hr>
              <div *ngIf="showOrder">
                <h4>Order Summary</h4>
                <div *ngFor="let order of userOrder">
                    <hr>
                    <p>Coffee: {{ order.coffee }}</p>
                    <p>Quantity: {{ order.quantity }}</p>
                    <p>Creamers: {{ order.creamer }}</p>
                    <p>Toppings: {{ order.topping }}</p>
                    <p>Syrups: {{ order.syrup }}</p>
                    <p>Sweeteners: {{ order.sweetener }}</p>
                    <p>Order Total: {{ order.subTotal }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
