.form-group{
    
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
 }

 input.ng-invalid.ng-touched {
    border: 1px solid red;
 }

#addOnSection{
    margin-left: 50px;
}

#syrupSection{
    margin-left: 50px;
}

#coffeeSection{
    margin-left: 5px;
}

#sweetSection{
    margin-right: 100px;
}

input{
    padding: 5px;
}

label{
    padding: 5px;
}

#quantity{
    width: 70px;
}

#user-data{
    border: 1px solid black;
    padding: 2px;
}

