h2{
    margin-top:0px;
    text-align: center;
    background-color:khaki;
    padding-bottom: 5px;
    color: brown;
    padding-left: 25px;
    border-left: solid 5px brown;
    border-right: solid 5px brown;
}

span{
    color:red;
}

button{
    margin-left:300px;
}

h3,h4{
    color: blue;
    font-size: xx-large;
    background-color: khaki;
}

.summary{
    color: blue;
    background-color: khaki;
}

.form-group{
    
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

select{
    color: brown;
}

select.ng-invalid.ng-touched {
    border: 3px solid red;
 }

 input.ng-invalid.ng-touched {
    border: 3px solid red;
 }

#addOnSection{
    margin-left: 50px;
}

#syrupSection{
    margin-left: 5px;
}

#coffeeSection{
    margin-left: 5px;
}

#sweetSection{
    margin-right: 125px;
}

input{
    padding: 5px;
    color: brown;
}

label{
    padding: 5px;
    color:brown;
}

#quantity{
    width: 70px;
}

#user-data{
    border: 1px solid black;
    padding: 2px;
}

p{
    color: blue;
}

body{
    background-image: url("../../assets/orderitems.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    margin-top: -10px;
    border-left: solid 5px brown;
    border-right: solid 5px brown;
    border-bottom: solid 5px brown;
}

.container{
    margin: 0 auto;
    padding-bottom: 115px;
    margin-top: 0px;
}


