<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
         <a id="title" routerLink="/" class="navbar-brand">Brewbean</a>
      </div>
      <div id="links">
          <ul class="nav navbar-nav">
              <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated"><a id="links" routerLink="/">Home</a></li>
              <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a id="links" routerLink="/register">Register</a></li>
              <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a id="links" routerLink="/login">Log In</a></li>
              <li role="presentation" routerLinkActive="active" *ngIf="isAuthenticated"><a id="links" routerLink="/about">About</a></li>
              <li role="presentation" routerLinkActive="active" *ngIf="isAuthenticated"><a id="links" style="cursor: pointer" (click)="onLogOut()">Log Out</a></li>
          </ul>
      </div>
      <router-outlet></router-outlet>
  </div>
 </nav>
