h1{
    margin-top:0px;
    text-align: center;
    background-color:khaki;
    padding-bottom: 5px;
    color: brown;
    padding-left: 25px;
    border-left: solid 5px brown;
    border-right: solid 5px brown;
    /* border-bottom: solid 1px brown; */
}

body{
    background-image: url("../../assets/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    margin-top: -10px;
    border-left: solid 5px brown;
    border-right: solid 5px brown;
    border-bottom: solid 5px brown;
    
}

.container{
    margin: 0 auto;
    padding-bottom: 602px;
    margin-top: 0px;
}