<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          class="form-group"
          id="user-data"
          >
        <h2>Registration</h2>
        <hr>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="text"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
        </div>
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input
            type="text"
            id="firstname"
            class="form-control"
            ngModel
            name="firstname"
            required
            #firstname="ngModel">
            <span class="help-block" *ngIf="!firstname.valid && firstname.touched">Please enter your firstname!</span>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            ngModel
            name="lastname"
            required
            #lastname="ngModel">
            <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Please enter your lastname!</span>
        </div>
        </div>
          <hr>
          <div class="form-group">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid">Register
          </button> 
          </div>
        </form>
        <div class="row" *ngIf="submitted">
          <div class="col-xs-12">
            <h3>Thank you for registering!!</h3>
            <p>Email: {{ user.email }}</p>
            <p>Firstname: {{ user.firstname }}</p>
            <p>Lastname: {{ user.lastname }}</p>
          </div>
        </div>
    </div>
  </div>
</div>

