<h2>Registration</h2>
<hr>
<div class="form-group">
    <label for="email">Email:</label>
    <input
        type="text"
        id="email"
        class="form-control">
    <label for="password">Password:</label>
    <input
      type="text"
      id="password"
      class="form-control">
</div>
<div class="form-group">
    <label for="firstname">First Name:</label>
    <input
      type="text"
      id="firstname"
      class="form-control"
    >
</div>
<div class="form-group">
    <label for="lastname">Last Name:</label>
    <input
      type="text"
      id="lastname"
      class="form-control"
    >
    <hr>
    <button
        class="form-group"
        class="btn btn-primary"
        >Register
    </button> 
</div>

